.header__container-menu {
    min-width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    z-index: 5;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 766px) {
    .header__container-menu {
        height: 50px;
        width: 80%;
        justify-content: end;
    }
}

@media screen and (max-width: 543px) {
    .header__container-menu {
        width: 90%;
    }
}