.header__close {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: rgb(75, 74, 74);
  transition: all 0.5s linear;
  position: absolute;
  right: 5%;
  top: 1px;
}

.header__close:hover {
  cursor: pointer;
  color: #DAA520;
}