.cards__rectangle {
    width: 280px;
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1080px) {
    .cards__rectangle {
        width: 160px;
        height: 230px;
    }
}