.description__text-container_position_bottom {
    width: 657px;
    height: 131px;
}

@media screen and (max-width: 1080px) {
    .description__text-container_position_bottom {
        width: 540px;
    }
}

@media screen and (max-width: 940px) {
    .description__text-container_position_bottom {
        width: 100%;
        height: auto;
        text-align: center;
    }
}