.list__item {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 0;
    position: relative;
}

.list__item:last-child {
    margin-right: 0;
}