.list__item {
    width: 238px;
    height: 177px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.list__item:last-child {
    margin-right: 0;
}
