.list__item {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 0;
    position: relative;
}

.list__item:last-child {
    margin-right: 0;
}

@media screen and (max-width: 543px) {
    .list__item {
        margin-top: 30px;
    }

    .list__item:first-of-type {
        margin-top: 15px;
    }
}