.header__button-burger {
  display: none;
}

@media screen and (max-width: 766px) {
  .header__button-burger {
    display: block;
    transition: all 0.3s linear;

  }

  .header__button-burger:hover {
    cursor: pointer;
  }
}