.header {
        position: relative;
        height: 100vh;
        min-height: 600px;
        max-height: 800px;
        margin: 0;
        min-width: 1152px;
        /* выше установили ограничения для секции */
      
}