.footer__title {
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

@media screen and (max-width: 1080px) {
    .footer__title {
        font-size: 15px;
    }
}