.header__rectangle-pic {
  background-image: url(../../../images/Rectangle\ 4.png);
  width: 370px;
  height: 800px;
  position: absolute;
  background-position: center;
  background-size: cover;
  top: 0;
  right: 0;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 1080px) {
  .header__rectangle-pic {
    width: 276px;
    height: 600px;
  }
}

@media screen and (max-width: 766px) {
  .header__rectangle-pic {
    width: 150px;
    height: 325px;
  }
}

@media screen and (max-width: 543px) {
  .header__rectangle-pic {
    width: 122px;
    height: 270px;
  }
}