.footer__image {
    background-image: url(../../../images/chairfooter.jpg);
    right: 0;
    bottom: 0;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 44%;
    height: 100%;
    z-index: 1;
}

@media screen and (max-width: 1080px) {
    .footer__image {
        width: 35%;
    }
}