.description__image-top {
  background-image: url(../../../images/Kalmar-Home-7-pc-Acacia-Wood-Salad-Bowl-Set\ 1.png);
  position: relative;
  width: 388px;
  height: 306px;
  background-position: center;
  background-size: cover;

}

.description__image-top::after {
  content: "";
  background-image: url(../../../images/Rectangle\ 5.png);
  position: absolute;
  width: 278px;
  height: 388px;
  left: 0;
  top: -55px;
  z-index: -1;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1080px) {
  .description__image-top {
    width: 350px;
    height: 260px;
  }

  .description__image-top::after {
    width: 220px;
    height: 310px;
  }
}