.footer__column {
    z-index: 1;
    position: relative;
    margin: 0;
    padding: 24px 0 0;
}

@media screen and (max-width: 1080px) {
    .footer__column:first-of-type {
        padding-top: 33px;
    }
}

@media screen and (max-width: 766px) {
    .footer__column:first-of-type {
        border-bottom: 1px solid #C4C4C4;
    }

    .footer__column {
        padding-top: 20px;
    }
}