.description__image-bottom {
    background-image: url(../../../images/Script-Online-Ado-Beech-Steel-Spoon-Set-Of-3-52151704SD00001-PDP-Gallery-D-01\ 1.png);
    width: 287px;
    height: 384px;
    margin-right: -100px;
}