.description__text_font-weight_bold {
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 3px;
  margin: 0;
}


@media screen and (max-width: 543px) {
  .description__text_font-weight_bold {
    -webkit-text-stroke-width: 2px;
  }
}