.heading__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;
    text-align: center;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 1080px) {
    .heading__subtitle {
        font-size: 29px;
    }
}

@media screen and (max-width: 543px) {
    .heading__subtitle {
        font-size: 15px;
    }
}