.header__container-text {
    width: 504px;
    height: 376px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: start;
    margin-left: 10%;
}

@media screen and (max-width: 1080px) {
    .header__container-text {
        width: 350px;
        height: 280px;
        margin-left: 5%;
    }
}