.footer__list {
  margin: 0;
  padding: 0;

}

@media screen and (max-width: 766px) {
  .footer__list {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;

    margin-top: 10px;
  }

  .footer__list.additional {
    max-height: 80px;
    opacity: 1;
  }
}