.header__burger {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: rgb(75, 74, 74);
  transition: all 0.5s linear;
}

.header__burger:hover {
  cursor: pointer;
  color: #DAA520;
}