.header__title {
    margin: 0;
    font-style: 700;
    font-size: 72px;
    line-height: 98px;
}

@media screen and (max-width: 1080px) {
    .header__title {
        font-size: 50px;
        line-height: 50px;
    }
}

@media screen and (max-width: 766px) {
    .header__title {
        font-size: 20px;
        line-height: 25px;
        margin-top: 20px;
    }
}