.header__main-illustration {
    background-image: url(../../../images/Simple-modern-balcony-small-coffee-table-living-room-small-apartment-sofa-side-table-simple-home-bedroom\ 1.png);
    width: 568px;
    height: 577px;
    background-position: center;
    background-size: cover;
    z-index: 7;
    top: 165px;
    right: 0;
    position: absolute;
}

@media screen and (max-width: 1080px) {
    .header__main-illustration {
        width: 350px;
        height: 400px;
    }
}


@media screen and (max-width: 766px) {
    .header__main-illustration {
        width: 230px;
        height: 250px;
        top: 60px;
    }
}

@media screen and (max-width: 543px) {
    .header__main-illustration {
        width: 150px;
        height: 190px;
        top: 70px;
    }

}