.popup__title {
    font-size: 28px;
    line-height: 29px;
    color: black;
    margin-top: 10px;
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .popup__title {
        font-size: 23px;
        margin-bottom: 15px;
    }
}