.description__box {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 80px;
  align-items: center;
  position: relative;
}

.description__box:last-of-type {
  margin-top: 40px;
}