.service__button {
    background-image: url(../../../images/Group\ 181.png);
    width: 212px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    border: none;
    transition: all 0.2s linear 0.1s;
}

.service__button:hover {
    cursor: pointer;
    transform: scale(1.1);
}